@import './components/CardPokemon/index.scss';
@import './components/ListPokemons/index.scss';

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    height: 100%;
}